<h1>About AQI</h1>

<h3>The Air Quality Index is used to measure pollution levels in the air. Higher AQI values represent higher pollution levels and a greater health risk. AQI is typically measured on a scale from 0-500 with 0 representing optimal air quality and 500 representing the lowest air quality with the greatest amount of pollution and the highest health risk to citizens. The AQI values measured in My Ozone range from Good to Very Poor.</h3><br/>

<div class="card green">
  <div class="card-body">
    <h4>Good air quality is typically around a value between 0-50, represented by the color green, and poses little to no health risk.</h4><br/>
  </div>
</div>
<div class="card yellow">
  <div class="card-body">
    <h4>Fair air quality is typically around a value between 51-100, represented by the color yellow, and is considered to be acceptable air quality that only poses risk to those highly sensative to air pollution.</h4><br/>
  </div>
</div>
<div class="card orange">
  <div class="card-body">
    <h4>Moderate air quality is typically around a value between 101-150, represented by the color orange, and may pose a risk to sensative groups.</h4><br/> 
  </div>
</div>
<div class="card red">
  <div class="card-body">
    <h4>Poor air quality is typically around a value between 151-200, represented by the color red, and may pose a risk to members of the general public as well as a higher risk for sensative groups.</h4><br/>
  </div>
</div>
<div class="card purple">
  <div class="card-body">
    <h4>Very Poor air quality is typically around a value of 201 or higher, represented by the color purple, and poses a high risk of health effects for everyone.</h4>
  </div>
</div>
<br/><br/>
