<div class="p-5 mb-4 <%= @api_color %> rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <%= @final_output %>
        </h1>
        <p class="col-md-8 fs-4">
          This is the current ozone air quality readout for my neighborhood.
        </p>
        <p>
          Hit "Reload" in your web browser to update the reading...
        </p>
        <div id='map' style='width: 400px; height: 300px;'></div>
       
        <script>
          fetch('https://www.airnowapi.org/aq/forecast/latLong/?format=application/json&latitude=39.0509&longitude=-121.4453&date=2021-09-14&distance=25&API_KEY=' + '<%= $api_key %>')
            .then(response => response.json())
            .then(data => {
              console.log(data);
              
            })

          mapboxgl.accessToken = access_token;

          navigator.geolocation.getCurrentPosition(successLocation, errorLocation, { enableHighAccuracy: true })

          function successLocation(position) {
            setupMap([position.coords.longitude, position.coords.latitude])
          }

          function errorLocation() {
            setupMap([-2.24, 53.48])
          }

          function setupMap(center) {
            const map = new mapboxgl.Map({
              container: 'map', // container ID
              style: 'mapbox://styles/mapbox/streets-v11', // style URL
              center: center, // starting position [lng, lat]
              zoom: 9 // starting zoom
          })
            const nav = new mapboxgl.NavigationControl();
            map.addControl(nav);
                
            const marker = new mapboxgl.Marker({
              color: "<%= @api_color %>",
              draggable: true
              
            })
            .setLngLat(center)
            .addTo(map);
    
            marker.on('dragend', onDragEnd);

            function onDragEnd() {
              var lngLat = marker.getLngLat();
              const coordinates = [lngLat.lng, lngLat.lat]
              console.log('Longitude: ' + lngLat.lng + ' Latitude: ' + lngLat.lat);
              map.flyTo ({
                center: [
                  lngLat.lng,
                  lngLat.lat
                ],
                essential: false
              });

            }
          }
        </script>
        <br/>
      </div>
    </div>
    <br/>
